* {box-sizing: border-box;}

@font-face {
  font-family: myFirstFont;
  src: url(../National-Medium.woff);
}

body{
  padding: 0;
  margin: 0;
  font-family: myFirstFont;
  background-repeat: no-repeat;
  background-position: calc(211% - 20px) calc(-2% - 15px);
}


.header {
  overflow: hidden;
  background-color: #fff;
  box-shadow:  3px 3px 8px 4px #ededed;
  padding: 2px 10px;
  display: block;
  position: relative;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding : 12px 13px;
  margin : 0px 10px;
  text-decoration: none;
  font-size: 18px; 
  display: block;
  line-height: 25px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

/*.header a:hover {
  background-color: #ddd;
  color: black;
}*/

.header a.active {
  border-bottom: 2px solid #4285f4;
}

.header-right {
  float: left;
  height: 12px;
  padding-left: 80px;
}
.search-container {
  height: 37px;
  width: 260px;
  background: #f7f7f7;
  border-radius: 4px;
  float: right;
  margin-left: 0px;
  margin-top: 7px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  /*padding: 2px;*/
}

.header input[type=text] {
  padding: 6px;
  width: 200px;
  padding-left: 12  px;
  margin-top: 4px;
  color: #7f8285;
  font-size: 15px;
  border: none;
  background-color: #f7f7f7;
}

.header .search-container button {
  float: right;
  background-color: #f7f7f7;
  padding: 6px 5px;
  margin-top: 2px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/*.header .search-container button:hover {
  background: #ccc;
}*/
.main h2{
  margin-top: 85px;
  font-size: 63px;
  color: #333333;
  font-weight: 550;
}
.main p{
  line-height: 5px;
  font-size: 21px;
  color: #636c81;
  margin-top: -6px;
}
.main-content h2{
  font-size: 40px;
  font-weight: 600;
  color: #333333;
  margin-top: 70px;
}
.content{
  width: 880px;
  margin: 50px 385px;
}
.content-head{
  width: 300px;
  float: left;
}
.content-head p{
  font-size: 27px;
  font-weight: 600;
  margin-top: 1px;
}
.content td{
  width: 250px;
  height: 40px;
}
.content td a{
  font-size: 18px;
  text-decoration: none;
  color: #3084ee;
}

hr{
  border: 0.2px solid #d8dadd;
  width: 553px;
  margin-left: 650px;
}
.footer{
   left: 0;
   bottom: 0;
   width: 100%;
   height: 103px;
   background-color: #f8f9fa;
   margin-top: 110px;
   border-top: 1px solid #ededed;
}

.footer-links{
  padding-top: 6px;
}

.footer-links p a{
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}
.footer-links p a:hover{
  color: #3084ee;
}

.copyright{
  font-size: 17px;
  color: #888;
}
@media screen and (max-width: 500px) {
  .search-container{
    display:none;
  }
  .icon{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display:block;
  }
  body{
    width: 520px;
    background-position: calc(30% - 0px) calc(3% - 15px);
    background-size: 520px 400px;
  }
  .header{
    width: 520px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    display:none;
    float: none;
    padding-left: 0px;
  }
  .main h2{
    
  }
  .main p{
    
    margin-top: 6px;
  }
  .main-content h2{
    
  }
  .content{
    width: 520px;
    margin: 0px 0px 0px 20px;
    
  }
  .content table{
    margin-left:50px;
  }
  .content-head{
    float: none;
  }
  hr{
    width: 520px;
    margin-left: 0px;
  }
  .footer {
    /*width: 500px;*/
  }
}


@media screen and (max-width: 360px) {
  .search-container{
    display:none;
  }
  .icon{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display:block;
  }
  body{
    width: 380px;
    background-position: calc(30% - 0px) calc(3% - 15px);
    background-size: 380px 400px;
  }
  .header{
    width: 380px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    display:none;
    float: none;
    padding-left: 0px;
  }
  .main h2{
    
  }
  .main p{
    
    margin-top: 6px;
  }
  .main-content h2{
    
  }
  .content{
    width: 380px;
    margin: 0px 0px 0px 20px;
    
  }
  .content table{
    margin-left:50px;
  }
  .content-head{
    float: none;
  }
  hr{
    width: 380px;
    margin-left: 0px;
  }
  .footer {
    /*width: 500px;*/
  }
}

@media screen and (max-width: 375px) {
  .search-container{
    display:none;
  }
  .icon{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display:block;
  }
  body{
    width: 395px;
    background-position: calc(30% - 0px) calc(3% - 15px);
    background-size: 395px 200px;
  }
  .header{
    width: 395px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    display:none;
    float: none;
    padding-left: 0px;
  }
  .main h2{
    
  }
  .main p{
    
    margin-top: 6px;
  }
  .main-content h2{
    
  }
  .content{
    width: 395px;
    margin: 0px 0px 0px 20px;
    
  }
  .content table{
    margin-left:50px;
  }
  .content-head{
    float: none;
  }
  hr{
    width: 395px;
    margin-left: 0px;
  }
  .footer {
    /*width: 500px;*/
  }
}


@media screen and (max-width: 411px) {
  .search-container{
    display:none;
  }
  .icon{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display:block;
  }
  body{
    width: 431px;
    background-position: calc(30% - 0px) calc(3% - 15px);
    background-size: 431px 400px;
  }
  .header{
    width: 431px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    display:none;
    float: none;
    padding-left: 0px;
  }
  .main h2{
    
  }
  .main p{
    
    margin-top: 6px;
  }
  .main-content h2{
    
  }
  .content{
    width: 431px;
    margin: 0px 0px 0px 20px;
    
  }
  .content table{
    margin-left:50px;
  }
  .content-head{
    float: none;
  }
  hr{
    width: 431px;
    margin-left: 0px;
  }
  .footer {
    /*width: 500px;*/
  }
}


@media screen and (max-width: 768px) {
  .search-container{
    display:none;
  }
  .icon{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display:block;
  }
  body{
    width: 788px;
    background-position: calc(30% - 0px) calc(3% - 15px);
    background-size: 788px 400px;
  }
  .header{
    width: 788px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    display:none;
    float: none;
    padding-left: 0px;
  }
  .main h2{
    
  }
  .main p{
    
    margin-top: 6px;
  }
  .main-content h2{
    
  }
  .content{
    width: 788px;
    margin: 0px 0px 0px 20px;
    
  }
  .content table{
    margin-left:50px;
  }
  .content-head{
    float: none;
  }
  hr{
    width: 788px;
    margin-left: 0px;
  }
  .footer {
    /*width: 500px;*/
  }
}

@media screen and (max-width: 600px) {
  .search-container{
    display:none;
  }
  .icon{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display:block;
  }
  body{
    width: 620px;
    background-position: calc(30% - 0px) calc(3% - 15px);
    background-size: 620px 400px;
  }
  .header{
    width: 620px;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    display:none;
    float: none;
    padding-left: 0px;
  }
  .main h2{
    
  }
  .main p{
    
    margin-top: 6px;
  }
  .main-content h2{
    
  }
  .content{
    width: 620px;
    margin: 0px 0px 0px 20px;
    
  }
  .content table{
    margin-left:50px;
  }
  .content-head{
    float: none;
  }
  hr{
    width: 620px;
    margin-left: 0px;
  }
  .footer {
    /*width: 500px;*/
  }
}